
:root {
    /* Primary Colors */
    --dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);
    /* Neutral Colors */
    --very-dark-violet: hsl(270, 9%, 17%);
    --dark-grayish-violet: hsl(273, 4%, 51%);
    --light-grayish-violet: hsl(296, 30%, 68%);
    --very-light-gray: hsl(0, 0%, 98%);
}

/*********** General Layout Styles  *************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    line-height: 1.625;
    margin: 0;
    text-align: center;
}

.container {
	margin: 0 auto;
    width: 90%;
}

img {
    max-width: 100%;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex {
    flex-direction: column;
}

.btn {
	background-color: transparent;
	border: 2px solid #fff;
	display: inline-block;
	color: #fff;
	cursor: pointer;
	font-size: 1.25rem;
	font-weight: 700;
	padding: .6em 4em;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.hero .btn,
.bg-dark .btn {
    font-size: .8125rem;
	font-weight: 700;
	padding: .6em 2em;
	letter-spacing: 2px;
}

.btn-ghost {
	border-color: var(--very-light-gray);
	color: var(--very-light-gray);
}

.btn-ghost:hover,
.btn-ghost:focus {
    background-color: #fff;
    color: var(--dark-violet);
}

.nav-btn-ghost:hover,
.nav-btn-ghost:focus {
    background-color: var(--dark-violet);
    color: #fff;
}

.bg-dark {
    background-color: var(--dark-violet);
    color: #fff;
}

/*********** Typography  *************/
h1, h2, h3 {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
}

h1, h2 {
    font-size: 3rem;
    line-height: 1;
}

h1 {    
    margin-top: 2em;
    margin-bottom: .35em;
    position: relative;
}

h2 {
    margin-bottom: 1.67em;
    margin-top: .833em;
}

.how-we-work h2 {
    font-size: 2.5rem;
    margin-bottom: 1em;
    margin-top: 0;
}

h3 {
    font-size: 1.75rem;
    margin: 1.14em 0 .6em;
}

p {
    color: var(--dark-grayish-violet);
}

p.subhead {
    color: #fff;
    margin-bottom: 2em;
}

ul {
	margin: 0;
}

/*********** Navigation Styles  *************/
nav {
	background-color: #fff;
	padding: 1.25em 0;
}


nav ul {
    display: flex;
    align-items: center;
	gap: 2em;
    list-style-type: none;
    padding: 0;
}

nav li a {
    color: var(--very-light-gray);
	font-size: 1.25rem;
	font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}


	nav .hamburger {
		background-color: transparent;
		border: 0;
		cursor: pointer;
		display: flex;
	}

	nav .hamburger .close {
		display: none;
	}

	nav .hamburger.show .open {
		display: none;
	}

	nav .hamburger.show .close {
		display: block;
	}

	nav .flex {
		flex-direction: row;
	}

	nav .img-wrapper {
		text-align: left;
	}

	nav ul {
		display: none;
	}

	nav ul.show {
		background: url(../images/bg-pattern-mobile-nav.svg), var(--very-dark-violet);
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: contain;
		display: flex;
		flex-direction: column;
		position: fixed;
		padding-top: 3.5em;
		margin: 0;
		top: 70px;
		left: 0;
		width: 100vw;
		height: 38em;
		height: calc(100vh - 70px);
		z-index: 100;
	}


	nav ul a {
		color: #fff;
	}

	.btn-reverse {
		border-color: #fff;
		color: #fff;
	}



/*********** Hero Section Styles  *************/
.hero {
    margin-bottom: 8.75em;
    padding-bottom: 6em;
}

.hero-img {
    order: -1;
    width: calc(100% + 3em);
}

/*********** Features Section Styles  *************/
.features {
    position: relative;
}

.features-line::before {
    content: "";
    background-color:  var(--light-grayish-violet);
    position: absolute;
    left: calc(50% - 75px);
    top: -40px;
    height: 1px;
    width: 150px;
}

.card {
    margin-bottom: 3.5em;
}

.card img {
    margin: 0 auto;
}

/*********** How We Work Styles  *************/
.how-we-work {
    background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
    background-position: right top;
    background-repeat: no-repeat;
    padding: 4.5em 1.5em;
    margin-bottom: 8.75em;
}


/*********** Footer Styles  *************/
footer {
    background-color: var(--very-light-gray);
    background-image: url(../images/bg-pattern-footer-mobile.svg);
    background-repeat: no-repeat;
    padding: 5.5em 0;
}

.footer-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.social {
    border-bottom: 1px solid hsl(0, 0%, 89%);
    margin-bottom: 3em;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    list-style: none;
    padding: 0 0 2.5em;
}

.footer-links-header,
.footer-links {
    font-weight: 700;
    text-transform: uppercase;
}

.footer-links-header {
    display: inline-block;
    font-size: 1rem;
    color: var(--dark-grayish-violet);
    margin-bottom: 2em;
}

.footer-links {
    color: var(--dark-violet);
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    margin-bottom: 1.3em;
    text-decoration: none;
}

.footer-links:last-child {
    margin-bottom: 3em;
}

.social-link {
    color: var(--dark-grayish-violet);
    font-size: 1.5rem;
}

.social-link:hover,
.social-link:focus {
    color: var(--dark-violet);
}

/*********** Media Queries  *************/
@media (min-width: 500px) {
    .hero-img {
        margin: 0 auto;
        width: 100%;
    }
    
    .hero-img img {
        margin: 0 auto;
    }
}

@media (min-width: 675px) {
    .container-nav  {
        flex-direction: row;
    }
    
    header {
        text-align: left;
    }
 
    .nav-list {
         flex-direction: row;
         margin-top: 0;
     }
 
     .nav-list-item {
         margin-left: 2em;
     }
 
     .footer-links-holder {
         display: flex;
     }
 
     .footer-block {
         width: 50%;
     }
 
 
 }



@media (min-width: 768px) {
    .container {
        margin: 0 auto;
    }

    .flex {
        flex-direction: row;
        gap: 2em;
    }
    
	.btn {
		font-size: .8125rem;
		font-weight: 700;
		padding: .6em 2em;
		letter-spacing: 2px;
	}

    /***** Navigation Styles  ******/
    nav .hamburger {
        display: none;
    }
    
    nav .hamburger:focus {
        outline: none;
    }
    
    nav ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        padding: 0;
    }
    
    nav li a {
        color: var(--dark-grayish-violet);
		font-size: .8125rem;
		font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
    }

    .nav-btn-ghost {
        border-color: var(--very-dark-violet);
        color: var(--very-dark-violet);
    }

    /***** Hero Section Styles  ******/
    .hero {
        padding: 4em 0 3em;
    }

    .hero::before {
        content: '';
        background-image: url('../images/bg-pattern-intro-left-desktop.svg');
        background-repeat: no-repeat;
        background-position: bottom left;
        position: absolute;
        bottom: 168px;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 0;
    }

    .hero::after {
        content: '';
        background-image: url('../images/bg-pattern-intro-right-desktop.svg');
        background-repeat: no-repeat;
        background-position: top right;
        position: absolute;
        top: 82px;
        right: -96px;
        height: 492px;
        width: 100%;
        z-index: 1;
    }
    
    

    .hero-line::before {
        content: "";
        position: absolute;
        left: 0;
        top: -43px;
        background-color: #fff;
        height: 1px;
        width: 150px;
    }

    h1 {
        margin-top: 0;
    }

    .hero-img {
        order: 0;
    }

    .hero-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        width: 120%;
    }

    .hero-btn {
        align-self: flex-start;
    }

    /***** Features Section Styles  ******/
    .features {
        margin-bottom: 7em;
        text-align: left;
    }

    .features .flex {
        gap: 1em;
    }

    .features-line::before {
        left: 0;
    }

    .card img {
        margin: 0;
    }

    .border-top {
        left: 0;
    }

    /***** How We Work Section Styles  ******/
    .how-we-work {
        margin-bottom: 9em;
        text-align: left;
    }

    .how-we-work .flex {
        gap: 1em;
    }

    .how-we-work h2 {
        margin-bottom: 0;
    }

    /***** Footer Styles  ******/
    footer {
        background-image: url(../images/bg-pattern-footer-desktop.svg);
        padding: 3em 0 2em;
    }

    .footer-logo {
        display: block;
        margin: 0;
    }
    .social {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2em 0;
    }

    .social-media {
        margin: 0;
        padding: 0;
    }
}

@media (min-width:1000px) {
    .container {
        width: 80%;
    }

    /***** Hero Styles  ******/
    .hero {
        padding: 2em 0 3em;
    }

    .hero-text {
        margin-top: 6em;
    }

    .hero-img img {
        transform: translateY(25%);
    }

    /***** Footer Styles  ******/
    .footer-block {
        text-align: left;
    }

    .footer-links-holder {
        display: flex;
    }
}

@media (min-width:1280px) {
    /***** Hero Styles  ******/
    .hero {
        padding-top: 0;
    }

    .hero::before {
        bottom: -87px;
    }

    .hero::after {
        height: 100%;
        right: -37px;
    }
}