
:root {
    /* Primary Colors */
    --primary-color: hsl(12, 94%, 65%);
    --secondary-color: hsl(177, 68%,64%);
    --tertiary-color: hsl(33, 100%, 70%);
    /* Neutral Colors */
    --color-light: hsl(20, 33%,98%);
    --color-dark: hsl(244, 23%, 12%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*************** General Styles  *****************/
body {
    background-image: url(../images/bg-main-mobile.png);
    background-repeat: no-repeat;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.25rem;
    line-height: 1.7;
    margin: 0;
}

.container {
    margin: 0 auto;
    padding: 0 1.5em;
    width: 90%;
}

.logo {
    margin: 2.5em 0 3em;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

.btn {
    border-radius: 12px;
    display: block;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.8;
    padding: 1.1em 0;
    text-align: center;
}

.btn-ios {
    background-color: var(--color-dark);
    color: var(--color-light);
    margin-bottom: 1em;
}

.btn-ios:hover,
.btn-ios:focus {
    background-color: var(--secondary-color);
}

.btn-android {
    background-color: var(--color-light);
    color: var(--color-dark);
    margin-bottom: 2.5em;
}

.btn-android:hover,
.btn-android:focus {
   background-color: var(--tertiary-color); 
}

.btn img {
    display: inline-block;
}

/*************** Hero  *****************/
.hero {
    margin-bottom: 4.25em;
}
h1.main-title {
   font-size: 2.5rem;
   font-weight: 700;
   letter-spacing: -1px;
   line-height: 1; 
   margin-bottom: .5em;
}

p.main-subtitle {
    font-size: 1rem;
    line-height: 1.625;
}


/*************** Features Styles  *****************/
.features {
    display: grid;
    grid-template-columns: minmax(3rem, 1fr) minmax(17.3rem, 2fr) minmax(3rem, 1fr);
    grid-template-rows: 6.125rem max-content 3rem 13.75rem max-content;
}
    
.phone-app {
    grid-area: 1 / 2 / 3 / 3;
    justify-self: center; 
    width: 208px;
}

.product-info {
    grid-area: 3 / 1 / 6 / 4; 
}

.color-block {
    grid-area: 2 / 1 / 5 / 4;
    background-color: black;
    border-radius: 12px;
}

.pattern {
    grid-area: 2 / 2 / 4 / 3; 
    margin: 0 auto;
} 
/* Product Info Box Styles */
.product-info {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    color: white;   
    padding: 2.5em 2.5em 0;
}

h2.features-title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: .375em;
}

p.features-info {
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 2em;
}

p.price {
    display: flex;
    align-items: center;
   line-height: 1.6; 
   margin-bottom: 1.6em;
}

p.price span {
    font-size: 4rem;
    font-weight: 700;
    line-height: .8;
    margin-right: .25em;
}

/*************** Footer Styles  *****************/
footer {
    margin-top: 4em;
}

.footer-logo {
    margin-bottom: 2em;
}

.footer-info {
    font-size: 1rem;
    line-height: 1.625;
    margin-bottom: 4em;
}

.footer-info a {
    color: var(--color-dark);
    font-weight: 700;
}

.social ul {
    display: flex;
    gap: 1.25em;
    margin-bottom: 5em;
}

.social-links img:hover,
.social-links img:focus {
    filter: invert(57%) sepia(50%) saturate(1643%) hue-rotate(326deg) brightness(100%) contrast(97%); 
}



/*************** Media Queries  *****************/
@media (min-width: 48em) {
    body {
        background-image:  url(../images/bg-pattern-1.svg), url(../images/bg-main-tablet.png);
        background-position: right -2em top -2em, top center;
        background-repeat: no-repeat;
        background-size: 232px 374px, cover;
    }

    .container {
        padding: 0;
    }

    .logo {
        margin-bottom: 4.75em;
    }

    /*************** Hero  *****************/
    .hero {
        margin-bottom: 5.25em;
        width: 32.5em;
    }

    h1.main-title {
        font-size: 4rem; 
        margin-bottom: .5em;
    }

    p.main-subtitle {
        font-size: 1.125rem;
        line-height: 1.555;
    }

    /*************** Features Styles  *****************/
    .features {
        display: grid;
        grid-template-columns: minmax(4rem, 6.3rem) minmax(11rem, 19.5rem) minmax(5.93rem, 1fr) minmax(19rem, 27.9rem) minmax(3.625rem, 5.9rem);
        grid-template-rows: 8.625rem 2.43rem 6.93rem 16.75rem 2.125rem 9.25rem max-content;
        
        margin: 0 auto;
        width: 696px;
    }
        
    .phone-app {
        grid-area: 1 / 2 / 4 / 4;
        height: 556px; 
        width: 270px;
    }
    
    .product-info {
        grid-area: 4 / 3 / 6 / 5; 
        height: 546px;
        width: 400px;
        background-color: var(--primary-color);
        padding-bottom: 1em;
    }
    
    .color-block {
        grid-area: 2 / 1 / 5 / 6; 

        height: 600px;
        width: 696px;
    }
    
    .pattern {
        grid-area: 2 / 2 / 6 / 4; 
        margin-left: 8.5em;
        margin-top: -1.5em;
    } 

    /*************** Footer Styles  *****************/
    .footer {
        margin-top: 9em;
    }

    .footer-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (min-width: 80em) {
    .hero {
        margin-left: 1.7em;
        width: 40em;
    }
}


@media (min-width: 90em) {
    .container {
        margin: 0 8em;
    }

    .logo {
        margin-bottom: 6.35em;
    }


    /*************** Hero  *****************/
    .hero {
        width: 51.5em;
    }

    h1.main-title {
        font-size: 5.5rem;
        margin-bottom: .5em;
    }

    p.main-subtitle {
        font-size: 1.25rem;
        line-height: 1.7;
    }

    /*************** Features Styles  *****************/
    .features {
        display: grid;
        grid-template-rows: 13.3rem 2.3rem 3.3rem 17rem 4.2rem 10.7rem max-content;
        margin: 0 auto;
        width: 1110px;
    }
        
    .phone-app {
        grid-area: 1 / 2 / 4 / 3; 
        height: 642px; 
        width: 312px;
    }
    
    .product-info {
        grid-area: 4 / 4 / 6 / 5;
        height: 625px;
        width: 446px;
        background-color: var(--primary-color);
        padding-bottom: 3em; 
    }
    
    .color-block {
        grid-area: 2 / 1 / 6 / 8;
        width: 1110px; 
    }
    
    .pattern {
        grid-area: 2 / 2 / 4 / 4; 
        margin-left: 11.5em;
        margin-top: -2em;
    } 

    h2.features-title {
        font-size: 2.5rem;
    }

    p.features-info {
        font-size: 1.25rem;
        line-height: 1.7;
    }

    /*************** Footer Styles  *****************/
    .footer-container {
        display: flex;
        align-items: center;
        gap: 8.5em;
        margin-bottom: 5em;
    }

    .footer-block {
        align-items: center;
        flex: 0 0 800px;
    }

    .footer-info {
        margin-bottom: 0;
    }

    .social ul {
        margin-bottom: 0;
    }
}